<div class="ml-auto">
    <div class="svg">
        <a href="https://www.senseofwonder.co.jp/">
            <img class="svg"
                 src="/assets/img/brand/logo.svg"
                 onload="this.style.height=(this.offsetWidth*42/176)+'px'"
                 alt="株式会社センスオブワンダーグループ"
                 data-mu-svgfallback="./images/logo.svg"
                 data-image-width="176"
                 data-image-height="42"
                 style="height: 36px;">
        </a>
    </div>
</div>